html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}
main {
  padding-bottom: 50px;
  /*Высота футера*/
}
footer {
  margin-top: -50px;
  /*Минус Высота футера*/
  height: 50px;
  background: #D3D3D3;
  /*Высота футера*/
}

.logo{
  width: 50%;
}

.navbar-header{
  width: 10%;
}

.line{
  display: inline;
}
/* правая часть верхней панели */
.avatar{
  position: relative;
  width: 50%
}

.navbar-right{
  position: relative;
  top: 20px;
  right: 10px;
}

.navbar-right img{
  position: relative;
  top: -18px;
  left: 70px;
}

.dropdown{
  position: relative;
  right: -20px;
  top: -15px;
  font-size: 150%;
}

.absolute-top{
  margin-top:0px;
}

/* Кнопка ASK на верхней панели */
.btn-success{
  position: relative;
  top: 10px;
  left: 300px;
  width: 250%;
  background: orange;
}

/* Цвет надписа на кнопки ASK на верхней панели */
.btn-success a{
  color: white;
}

/* Кнопка ASK при задавании вопроса */
.btn-ask{
  position: relative;
  left:230px;
  width: 40%
}

/* Поиск */
.navbar-left{
  position: relative;
  top: 2px;
  left: 30px;
}

/* Поиск */
.navbar-leftASK{
  position: relative;
  top: 0px;
  left: -240px;
}

.position-checkbox{
  position: relative;
  left: 50px;
}

/* Аватарки в спике вопросов*/
.avatar-post{
  float: left;
  margin-right: 20px;
  margin-left: 5px;
  display: inline;
  width: 13%;
  border: 3px solid #000000;
}

.avatar-post-answer{
  float: left;
  margin-right: 20px;
  display: inline;
  width: 18%;
  border: 5px solid #000000;
}

.toRight-like-dislike-post-answer{
  padding-left: 10px;
}

.description{
  width: 90%;
  overflow: hidden;
}

/* Колчество ответов на вопрос в списке всех вопросов*/
.count-ansver{
  position: relative;
  left:100px;
}

.hotquest{
  font-size: 14px; 
  padding-left:20px;
}


/* Тег вопросов*/
.tags-massage{
  position: relative;
  left:200px;
}

.tags {
margin-left: -10px;
list-style: none;
display: inline;
}

.tags-list {
display: inline;
font-size: 130%;
}

.tags-list a {
margin-right: 5px;
font-size:130%;
display: inline;
}

/* Популярные теги*/
.popular{
  margin: 30px
}

.member-list li {
font-size: 130%;
margin-left: -40px;
list-style: none;

}

.ToDown{
  top: 10px;
}
/* Нужно сделать красным */
.ToRed{
  color: red;
}

/* Аватарка в настройках пользователя */
.avatar-setting{
  position: relative;
  border: 1px solid #008000;
  margin-top: 10px;
  width:  120px;
  height: 120px;
}

/* Сам вопрос или ответ (содержание) */
.text-post{ 
  overflow: hidden;
}

.text-post-answer{
  margin: 15px;
  overflow: hidden;
}

/* Correct! при ответет на вопрос */
.box{
  display: inline-block;
}

/* Кнопка Answer при задавании вопроса */
.btn-answer-write{
  margin: 10px;
  width: 40%;
  position: relative;
  left: 200px;
}

/* Footer */
.footer strong {
    float: right;
    margin-right: 5%;
    padding-top:  15px;
}
