<!-- Левая колонка -->
<div class="col-md-8">
    <h3><b>New Question</b></h3>
    <form>
        <h4 class="ToDown">
            Title <input type="text" class="form-control" placeholder="Title input" >
            <h5 class="ToRed"> input title <h5><br>
            Text  <textarea class="form-control" rows="10" placeholder="Text input" ></textarea>
            <h5 class="ToRed"> input text <h5><br>
            Tags  <input type="text" class="form-control" placeholder="Tags input">
            <h5 class="ToRed"> input tags <h5><br>
        </h4>
        <button type="button" class="btn btn-default btn-ask" href="#">Ask</a></button>
    </form>         
</div>