<div class="panel panel-default">
	<div class="panel-body">
        <img class="avatar-post" src="static/img/frame.jpg">
        <h3 class="absolute-top">
			<a href="{{ article.get_url }}">{{ article.title }}</a>
		</h3>
        <p class="text-post">{{ article.text }}</p>
	</div>
    <div class="panel-body">
		<button data-id="{{ article.id }}" data-type="article" data-action="like" title="like" type="button" class="btn btn-default" aria-label="Left Align">
			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
			<span data-count="like">{{ article.get_count_likes }}</span>
		</button>
		<button data-id="{{ article.id }}" data-type="article" data-action="dislike" title="dislike" type="button" class="btn btn-default" aria-label="Left Align">
			<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
			<span data-count="dislike">{{ article.get_count_dislikes }}</span>
		</button>
		<span class="count-answer">
			<a>Answer {{ article.get_count_answers }}</a>
		</span>
		<span class="tags-message">
			<p>Tags:
			{% for tag in article.tags.all %}
				<a>{{ tag.title }}</a>
			{% endfor %}
			</p>
		</span>
    </div>
</div>
