<div class="panel panel-default">
	<div class="panel-body">
        <img class="avatar-post" align="left"  src="static/img/frame.jpg">
        <h3 class="absolute-top"><a href="#">WTF!?</a></h3>
        <p class="text-post">Detective Cameron: I got good news and bad news girls. The good news is your dates are here.<br>
		Sorority Sister: What’s the bad news?<br>
		Detective Cameron: They’re dead.</p>
	</div>
    <div class="panel-body">
        <span>
			<button type="button" class="btn btn-default" aria-label="Left Align">
				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 5
			</button>			
			<button type="button" class="btn btn-default" aria-label="Left Align">
				<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 4
			</button>
		  </span>
        <span class="count-ansver">
			<a>Answer (3)</a>
		</span>
        <span class="tags-massage">
			Tags:
			<a>Night</a>
			<a>Creeps</a>
		</span>
    </div>
</div>
