<!-- Левая колонка -->
<div class="col-md-8">
    <h3><b>New Question</b></h3>
    <form method="post" action="{% url 'ask' %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <h4>{{ field.label }}</h4>
                {{ field }}
                {% for error in field.errors %}
                    <span class="help-block col-sm-offset-4 col-sm-8">{{ field.errors }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-default btn-ask">Ask</a></button>
    </form>         
</div>