<!-- Левая колонка -->
<div class="col-md-8">
    <h3><b>Settings: YourFace</b></h3>
    <!--<form class="form-horizontal" method="post" action="{% url 'settings' %}">
		{% csrf_token %}-->
	<form class="form-horizontal">
    	<div class="form-group">
		    <label for="inputLogin" class="col-xs-2 control-label">Login:</label>
		    <div class="col-xs-10">
		      	<input type="text" class="form-control" id="inputLogin" placeholder="Pupkin">
		    </div>
		</div>
		<div class="form-group">
		    <label for="inputEmail" class="col-xs-2 control-label">Email:</label>
		    <div class="col-xs-10">
		      	<input type="email" class="form-control" id="inputEmail" placeholder="pupkin@mail.ru">
		    </div>
		</div>
		<div class="form-group">
		    <label for="inputNickName" class="col-xs-2 control-label">Name:</label>
		    <div class="col-xs-10">
		      		<input type="text" class="form-control" id="inputNickName" placeholder="SuperPupkin">
		    </div>
		</div>
		<div class="form-group">
		    <label for="inputAvatarImg" class="col-xs-2 control-label">Upload Avatar:</label>
		    <div class="col-xs-10">
	      		<input type="file" id="inputAvatarImg">
	      		<img class="avatar-setting" align="left" src="img/image.jpg">
		    </div>
		</div>
		<div class="form-group">
		    <div class="col-xs-offset-2 col-xs-10">
		      <button type="submit" class="btn btn-default" href="#">Save</a></button>
		    </div>
		</div>
	</form>
</div>