<!-- main (left column) -->

<div class="col-md-8">
    <div class="open-article-container">
        <div class="open-article-container-img">
            <img src="{{ article.get_author_avatar }}">
        </div>
        <div class="open-article-container-title">
            <h3>{{ article.title }}</h3>
        </div>
        <div class="open-article-container-text">
            <p>{{ article.text }}</p>
        </div>
        <div class="open-article-container-like">
            <button data-id="{{ article.id }}" data-type="article" data-action="like" title="like" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <span data-count="like">{{ article.get_count_likes }}</span>
            </button>
        </div>
        <div class="open-article-container-dislike">
            <button data-id="{{ article.id }}" data-type="article" data-action="dislike" title="dislike" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                <span data-count="dislike">{{ article.get_count_dislikes }}</span>
            </button>
        </div>
        <div class="open-article-container-author">
            <span>{{ article.get_author_username }}</span>
        </div>
        <div class="open-article-container-tags">
            <p>Tags:
                {% for tag in article.tags.all %}
                    <a>{{ tag.title }}</a>
                {% endfor %}
            </p>
        </div>
    </div>


    <div class="panel-body">
        <img class="avatar-post-answer" align="left"  src="{{ article.get_author_avatar }}">
        <h3 class="absolute-top">{{ article.title }}</h3>
        <p class="text-post">{{ article.text }}</p>
    </div>
    <div class="panel-body">
        <span class="toRight-like-dislike-post-answer">
            <button data-id="{{ article.id }}" data-type="article" data-action="like" title="like" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <span data-count="like">{{ article.get_count_likes }}</span>
            </button>
            <button data-id="{{ article.id }}" data-type="article" data-action="dislike" title="dislike" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                <span data-count="dislike">{{ article.get_count_dislikes }}</span>
            </button>
        </span>
        <span class="tags-massage">
            Tags:
           	{% for tag in article.tags.all %}
                <a> {{ tag.title }} </a>
            {% endfor %}
        </span>
    </div>
    <hr>

    {% for answer in answers %}
        <div class="panel panel-default answer-container">
            <div class="answer-container-img">
                <img src="{{ answer.get_author_avatar }}">
            </div>
            <div class="answer-container-text">
                <p>{{ answer.text }}</p>
            </div>
            <div class="answer-container-like">
                <button data-id="{{ answer.id }}" data-type="answer" data-action="like" title="like" type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    <span data-count="like">{{ answer.get_count_likes }}</span>
                </button>
            </div>
            <div class="answer-container-dislike">
                <button data-id="{{ answer.id }}" data-type="answer" data-action="dislike" title="dislike" type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                    <span data-count="dislike">{{ answer.get_count_dislikes }}</span>
                </button>
            </div>
            <div class="answer-container-author">
                <span>{{ answer.get_author_username }}</span>
            </div>
        </div>

        <!--
        {% if user.is_authenticated %}
            <span class="checkbox box position-checkbox">
                <label>
                    <input type="checkbox"> Correct!
                </label>
            </span>
        {% endif %}
        -->
    {% endfor %}

    {% if pagination_list.has_next or pagination_list.has_previous %}
        {% include "Modules/paginator.html" %}
    {% endif %}

    {% if user.is_authenticated %}
        <hr>
        <form method="post" action="{{ article.get_url }}">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                    {% for error in field.errors %}
                        <span class="help-block col-sm-offset-4 col-sm-8">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="form-actions">
                <button type="submit" class="btn btn-default btn-answer-write">Answer</button>
            </div>
        </form>
    {% endif %}
</div>
